h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align:center;
}

p {
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
}

body {
    background-color:bisque;
}

.header {
    background-color: #F5C5AD;
    margin: 0px 350px 0px 350px;
    padding: 10px;
    border-radius: 7%;
    block-size: fit-content;
}