h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align:center;
}

p {
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
}

body {
    background-color:bisque;
}